# Loại trừ Odoo core và module gốc
/debian/
/doc/
/setup/
/.tx/
/.github/

# Python cache
__pycache__/
*.py[cod]
*.so

# Môi trường ảo & dotenv
venv/
.env

# IDE/editor
.vscode/
.idea/

# File build
*.egg-info/
*.log
*.db
*.zip
*.tar.gz

# Tạm thời
*.swp
*.bak
*.tmp
.test

odoo.conf

docker-compose.yml