[options]
addons_path = /opt/odoo/addons
admin_passwd = $ADMIN_PASSWD
db_host = $DB_HOST
db_port = $DB_PORT
db_user = $DB_USER
db_password = $DB_PASSWORD
db_name = $DB_NAME
logfile = /var/log/odoo/odoo.log
list_db = True
